/* 居中 */

.navbar {
    background-color: #333;
    color: white;
    height: 50px; /* 修正了高度的值，移除了多余的 '5' */
    display: flex;
    align-items: center; /* 确保子元素垂直居中 */
    padding: 0 20px; /* 为两侧提供一些内边距 */
}

.brandTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; /* 移除默认的外边距 */
    flex-grow: 1; /* 使 nav-list 占据剩余空间 */
    justify-content: center; /* 使列表项居中 */
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.nav-list li a:hover {
    background-color: #FFF;
    color: #333;
}